<main class="col-md-12">
    <h1>Welcome to About</h1>
    <p>Welcome to my About page. Here you will find some information about me.</p>
    <h2>About Me</h2>
    <p>I am Nikhil Kumar. I am a student at Seneca College, studying Business Information Technology with Student ID = 124632225.</p>
</main>
